body{color:#000;
	font-family:Arial,sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	background:#171e03 url("Images/background-1920.png") scroll center top no-repeat;
	background-size:100% auto}

#navbar {
	z-index: 1;
}

#buttons {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  	background-color: white;
  	opacity: 0.8;
  	position: fixed;
  	top: 0;
  	width: 100%;
}

.button {
	float: left;
}

#logo {
	float: right;
}

.button a {
	display: block;
	padding: 18px;
	font-family: "Arial";
	font-size: 16px;
	color: black;
	text-decoration: none;
	text-align: center;
	z-index: 1;
}

#logo a {
	display: block;
	padding: 8px;
	padding-right: 50px;
	font-family: "Verdana";
	font-size: 24px;
	color: black;
	text-decoration: none;
	text-align: center;
}

.button a:hover {
	background-color: black;
	color: white;
}



#info {
	width: 40%;
	height: auto;
	background-color: white;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	position: relative;
	z-index: 0;
	padding: 5%;
}

#info p {
	font-family: "Arial"
	font-size: 10;
}





/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #8a3ab9;
  color: white;
}

/* Linkedin */
.fa-linkedin {
  background: #0077B5;
  color: white;
}

/* Youtube */
.fa-youtube {
  background: #ff0000;
  color: white;
}